output
saves
worlds
backups
log.old.txt
log.txt
*.lock

FloodForge/assets/recents.txt

TODO.md
CHANGES.md

.vscode/
*.tmp

bin
obj
/.vs/ProjectEvaluation
/_projects
/.vs
/FloodForge/.vs/FloodForge
/FloodForge/.vs/ProjectEvaluation
